* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ヘッダー ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #2C2F71;
    color: #FFFFFF;
}

#product-title {
    margin: 20px;
}

#header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 auto;
}

#header-items {
    display: flex;
    list-style: none;
    margin-right: 24px;
}

.nav-item {
    margin-right: 20px;
}

#sns-items {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.sns-item {
    margin-left: 14px;
}


/* トップページメインーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

/* プロダクト紹介ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.main-image {
    display: flex;
    justify-content: center;
}

.product-introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #4E5155;
    padding: 140px 0px;
}

.product-introduction h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.text1 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.text2 {
    font-size: 12.8px;
    margin-bottom: 40px;
}

.product-introduction h4 {
    font-size: 14px;
    margin-bottom: 20px;
}

.product-signup-btn {
    font-size: 16px;
    background-color: #2C2F71;
    border-color: #2C2F71;
    color: #FFFFFF;
    width: 300px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

/* 機能紹介ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


.function-introduction {
    background-color: #F6F6F6;
    color: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 120px 0px;
}

.function-introduction h2 {
    font-size: 30px;
    /* margin-top: 120px; */
}

.function-sub-title {
    font-size: 16px;
    margin-bottom: 60px;
}

.function-items {
    display: flex;
}

.function-item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    margin: 0px 20px;
}

.func-image {
    width: 140px;
    height: 140px;
    margin-bottom: 30px;
}

.func-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 24px;
}

.func-text {
    text-align: center;
    font-size: 14px;
}



/* 案件一覧ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

#top-job-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 120px 0px;
}

#top-job-list h2 {
    font-size: 30px;
    color: #4E5155;
}

.top-job-sub-title {
    font-size: 16px;
    margin-bottom: 60px;
    color: #4E5155;
}

.top-job-list-items {
    display: flex;
    margin-bottom: 60px;
}

.top-job-list-item {
    margin: 20px;
    padding: 40px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.top-job-status {
    background-color: yellow;
    width: 80px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.top-job-title {
    font-size: 26px;
}

th {
    font-size: 16px;
    text-align: left;
}

td {
    font-size: 18px;
}

.top-job-reward {}

.top-job-deadline {}

/* パイロットリストーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

#top-pilot-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    background-color: #2C2F71;
    padding: 120px 0px;
}

#top-pilot-list h2 {
    font-size: 30px;
}



.top-pilot-sub-title {
    margin-bottom: 60px;
}

.top-pilot-items {
    display: flex;
    margin-bottom: 100px;
}

.top-pilot-item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.top-pilot-image {
    width: 240px;
}

.top-pilot-kana {
    font-weight: bold;
    font-size: 14px;
}

.top-pilot-name {
    font-size: 20px;
    margin-top: 4px;
}

.top-pilot-text {
    margin-top: 18px;
}

/* ご利用の流れーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

#top-flow-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F6F6F6;
    padding: 140px 0px;
}

#top-flow-list h2 {
    color: #4E5155;
    font-size: 30px;
}

.top-flow-sub-title {
    color: #4E5155;
    margin-bottom: 60px;
}

.top-flow {
    display: flex;
    justify-content: space-evenly;
    /* justify-content: center;
    align-items: center; */
}

.top-pilot-flow {
    display: flex;
}

.top-pilot-flow-items {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-color: #d2e3f4;
    margin: 50px;
    padding: 8px 80px;
    padding-bottom: 40px;
    border-radius: 20px;
}

.top-pilot-flow-items h3 {
    margin: 20px;
    font-size: 32px;
    color: #4E5155;
}

.top-pilot-flow-item {
    display: flex;
    align-items: center;
    margin-top: 40px;
    list-style: none;

}

.top-pilot-step-num {
    background-color: #2C2F71;
    color: #FFFFFF;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 30px;
    font-weight: bold;
}

.top-pilot-flow-title {
    font-size: 18px;
    font-weight: bold;
    color: #2C2F71;
    margin-bottom: 10px;
}

.top-pilot-flow-text {
    font-size: 14px;
    color: #4E5155;
}

.top-pilot-flow-btn button {
    font-size: 20px;
    background-color: #2C2F71;
    border: #2C2F71;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 2px 10px;
    margin-top: 10px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}


/* フッター ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
footer {
    background-color: #2C2F71;
    color: #d2e3f4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}