* {
    margin: 0;
    padding: 0;
}

/* ヘッダー ーーーーーーーーーーーーーーーーーーーー */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #2C2F71;
    color: #FFFF;
}

.header-nav {
    display: flex;
}

.header-nav a {
    margin-left: 20px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4E5155;
    color: #FFFFFF;
    padding: 20px 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    border-left: #FFFFFF;
}

/* ----------------------------------------- */

/* パイロット一覧画面 */
.pilot-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pilot-list-title {
    font-size: 38px;
    margin-top: 100px;
    margin-bottom: 60px;
    color: #2C2F71;
}

.pilot-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pilot-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #2C2F71;
    padding: 20px 40px;
    margin: 20px;
    border: 3px solid #2C2F71;
    border-radius: 20px;
}

.pilot-item img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.pilot-item-kana {
    font-size: 18px;
    margin-top: 18px;
}

.pilot-item-name {
    font-size: 22px;
}

.pilot-item-word {
    font-size: 16px;
    margin-bottom: 40px;
    background-color: gainsboro;
    border-radius: 3px;
    width: 80%;
    margin-top: 20px;
    padding: 6px;
}


/* 案件一覧ーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.job-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.job-list {}

.job-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 50%; */
    background-color: #F0F0F0;
    padding-top: 30px;
}

.count-job {
    font-size: 24px;
}

.job-item {
    margin: 20px;
    width: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    padding: 40px;
    background-color: #F5F5F5;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.job-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-name {
    font-size: 20px;
    font-weight: bold;
}

.job-date {
    font-size: 14px;
    color: #4E5155;
}

.job-status {
    display: flex;
    justify-content: center;
    background-color: yellow;
    width: 100px;
    margin: 20px;
}

.job-box {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    margin-bottom: 20px;
}

.place-reward {}

.transportation_expenses {
    width: 80%;
    justify-content: start;
}

.job-detail {
    width: 80%;
}

.pilot-list-title {
    text-align: center;
}

.job-mana-btn {
    display: flex;
    margin-top: 20px;
}

.job-mana-btn a {
    margin-top: 20px;
    margin-left: 20px;
}

.job-mana-btn button {
    font-size: 16px;
    padding: 0 10px;
}



/* 案件登録入力ーーーーーーーーーーーーーーーーーーーーーーーーーー */

#job-inInput-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.jobTitle {
    font-size: 32px;
    margin: 40px;
}

.jobCreate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.jobInputAreaItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.jobInputAreaItem input {
    width: 500px;
    height: 40px;
    font-size: 16px;
}

.jobInputAreaItem select {
    width: 500px;
    height: 40px;
    font-size: 16px;
}

.jobInputArea-btn {
    width: 160px;
    height: 40px;
    background-color: #2C2F71;
    color: #F5F5F5;
    border-color: #2C2F71;
    margin-bottom: 20px;
    font-size: 18px;
}

.return {
    width: 160px;
    height: 40px;
    font-size: 18px;
}

/* 一般ユーザーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.general_profile-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #2C2F71;
}

.general_profile-area h4 {
    font-size: 24px;
}

.profile-title {
    font-size: 32px;
    margin: 40px;
    color: #2C2F71;
}

.general_profile-area p {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.profile-edit-btn {
    background-color: #2C2F71;
    font-size: 18px;
    color: #FFFFFF;
    border: #2C2F71;
    padding: 4px 20px;
}

/* パイロットプロフィール画面ーーーーーーーーーーーーーーーーーーーー */

.pilot-profile-title {
    text-align: center;
}

.pilot-profile-area {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2C2F71;
    background-color: #e4eaf4;
}

.pilot-left {
    margin: 80px;
}

.pilot-profile-sns {
    display: flex;
    align-items: center;
}

.y {
    border-radius: 50%;
    ;
}

.profile-img {
    border-radius: 50px;
}

.profile-sns ul {
    background-color: #E4EAF4;
}

.pilot-sns-img img {
    width: 40px;
    margin: 10px;
}

.x {
    font-size: 12px;
}

.pilot-profile-name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.pilot-profile-word {
    background-color: rgb(241, 238, 238);
    border-radius: 5px;
    padding: 12px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.pilot-rigth {
    margin: 80px;

}

.pilot-rigth h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.pilot-rigth p {
    font-size: 18px;
    margin-bottom: 40px;
}

.pilot-profile-edit-btn {
    margin-top: 40px;
    font-size: 16px;
    background-color: rgb(237, 237, 59);
    border: solid 1px rgb(237, 237, 59);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}



/* 一般ユーザー編集画面ーーーーーーーーーーーーーーーーーーーーーー */
.general_profile-area h4 {
    margin-bottom: 5px;
}

.general_profile-area input {
    width: 300px;
    height: 32px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.general_profile-area select {
    width: 150px;
    height: 32px;
    text-align: center;
    margin-bottom: 60px;
}

.general_profile-area button {
    margin-top: 10px;
}

.profile-edit-return {
    background-color: #2C2F71;
    font-size: 18px;
    color: #FFFFFF;
    border: #2C2F71;
    padding: 4px 20px;
}